*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.7em;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.25em;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid rgb(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-italica{
    color: blueviolet;
}

header{
    background-color: rgb(244, 244, 244);   
}

.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
text-align: center;
padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;

}

#programas{
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
}

#programas .container{  /*Pendiente de la imagen*/
    padding: 150px 12px;
}

#programas h2{
    margin-top: 0;
    font-size: 3em;
}

#programas p{
    /*Pendiente de la imagen*/
}

.carta{
    background-position: center;
    background-size: cover;
    padding: 50px o;
    margin: 30px;

}

.carta:first-child{
    /*Pendiente de poner imagen de fullstack*/
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 33, 33);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(101, 101, 101);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header{
    position: fixed;
    width: 100%;
}

header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}





